.page_content
    .container
       h1.page_title.gradient #{page.title}
       .news_list2
           -for(var n=1;n<=3;n++)
               .item
                    a.news_item(href="#")
                        picture
                            img(src=dir+"news2.png")
                        .txt
                            .news_title.gradient Our web-site was updated
                            .news_excerpt We have a great news, our website was updated and redesigned, and re-launched today 16.04.2019. As well as you may remember, we started for 2 years ago, our main focus was only on exporting apples. We used these last two years to gain a huge experience and mastery, to grow our clients base. We were doing researches and experementing a lot with different products during last 1,5 year. We are finally happy to anounce our new strategic sectors.
