section.main_about
    .container
        .main_about_row
            .col_left
                div
                    .section_title ABOUT COMPANY
                    .desc ANESTA LLC is an Ukrainian company specialized in the export of agricultural products from Ukraine.Our company represents of producers, traders and investors from Ukraine, which have guaranteed quality of the product and impeccable business reputation. We act as an authorized Representative and provide full professional support of the transactions between the Seller and Buyer. The Contract will be signed directly between the Seller and Buyer.
                    a.read_more_btn(href="#") READ MORE
            .col_right
                img(src=dir+'pexels-sascha-hormel-1095814.png')


section.main_news
    .container
        .section_title NEWS

        .news_list
            -for(var n=1;n<=3;n++)
                .item
                    .news_item
                        .news_image(style="background-image:url("+dir+"news.png)")
                            .news_date 15.04.2019
                        a.news_title(href="#") Our web-site was updated
                        .news_excerpt We have a great news, our website was updated and redesigned, and re-launched today 16.04.2019. As well as you may remember, we started for 2 years ago, our main focus was only on exporting apples. We used these last two years to gain a huge experience and mastery, to grow our clients base. We were doing researches and experementing a lot with different products during last 1,5 year. We are finally happy to anounce our new strategic sectors.
                        a.read_more(href="#") Read more