<!DOCTYPE html>
html
    head
        - var page = { title: 'Home' }
        include inc/head.pug
    body
        include inc/header.pug
        //include inc/index/content
        include inc/footer
        include inc/scripts.pug
