<!DOCTYPE html>
html
    head
        - var page = { title: 'Procedure' }
        include inc/head.pug
    body
        .wrapper
            include inc/header.pug
            include inc/Procedure/content
            include inc/footer
        include inc/scripts.pug