-var main_menu=['Home','About us','Products','Procedure','News','Contacts']


header
    .container
        .header_row
            .logo
                a(href="#")
                    img(src=dir+"logo.svg")

            .main_menu
                .mm_close
                ul.nav
                    for m_item, index in main_menu
                        li(class=(index===2)?'has_child':'')
                            a(href="#")=m_item
                            if index===2
                                ul.sub-menu
                                    -for(var i=1;i<=5;i++)
                                        li
                                            a(href="#") Link #{i}


            .mm_btn
                button.hamburger
                    span
                    span
                    span



