if page.title === 'Связаться с нами'


        .kp_content
            .kp_row
                .col_left
                    .desc.f_20 Работаем с крупными заказчиками. У вас есть вопросы о продукции или хотите получить подробную информацию — заполните форму, и мы свяжемся с вами в ближайшее время.
                .col_right
                    .kp_form
                        form
                            .row
                                .col.w_50
                                    label Ваше имя
                                    input.form_control(type="text" placeholder="Ваше имя")
                                .col.w_50
                                    label Название организации
                                    input.form_control(type="text" placeholder="Введите название")


                                .col.w_50
                                    label Тип продукта
                                    select.form_control.select2
                                        option Выберите из списка
                                        option Тип продукта 1
                                        option Тип продукта 2
                                        option Тип продукта 3
                                        option Тип продукта 4

                                .col.w_50
                                    label Объём поставки в м3
                                    input.form_control(type="text" placeholder="0")

                                .col.w_50
                                    label Страна
                                    select.form_control.select2
                                        option Выберите страну
                                        option Город 1
                                        option Город 2
                                        option Город 3
                                        option Город 4
                                        option Город 5
                                        option Город 6
                                        option Город 7
                                        option Город 8
                                        option Город 9
                                        option Город 10

                                .col.w_50
                                    label Город
                                    input.form_control(type="text" placeholder="Введите название")



                                .col.w_50
                                    label Номер телефона
                                    input.form_control(type="text" placeholder="+7 (___) ___ __ __")
                                .col.w_50
                                    label Email
                                    input.form_control(type="text" placeholder="Введите email")
                                .col.w_100
                                    label Комментарий
                                    textarea.form_control(placeholder="Если у вас есть вопрос, напишите его тут")
                                .col
                                    .ai_center
                                        button.btn_primary(type="submit") Оставить заявку
                                        .agree Оставляя заявку вы соглашаетесь с политикой конфинденциальности


else
    section.kp
        .container
            .kp_content
                .kp_row
                    .col_left
                        .h1 Получить КП
                        .desc Работаем с крупными заказчиками. У вас есть вопросы о продукции или хотите получить подробную информацию— заполните форму, и мы свяжемся вами в ближайшее время.
                    .col_right
                        .kp_form
                            form
                                .row
                                    .col.w_50
                                        label Ваше имя
                                        input.form_control(type="text" placeholder="Ваше имя")
                                    .col.w_50
                                        label Название организации
                                        input.form_control(type="text" placeholder="Введите название")
                                    .col.w_50
                                        label Номер телефона
                                        input.form_control(type="text" placeholder="+7 (___) ___ __ __")
                                    .col.w_50
                                        label Email
                                        input.form_control(type="text" placeholder="Введите email")
                                    .col.w_100
                                        label Комментарий
                                        textarea.form_control(placeholder="Если у вас есть вопрос, напишите его тут")
                                    .col
                                        .ai_center
                                            button.btn_primary(type="submit") Оставить заявку
                                            .agree Оставляя заявку вы соглашаетесь с политикой конфинденциальности