.page_content
    .container
        h1.page_title.c_title #{page.title}

        .content
            h2 Vigil Export Import Trading
            img.float_right(src=dir+"photo_Arshad.png")
            p Is an Ukrainian company specialized in the export of agricultural products from Ukraine. Our company represents of producers, traders and investors from Ukraine, which have guaranteed quality of the product and impeccable business reputation. We act as an authorized Representative and provide full professional support of the transactions between the Seller and Buyer. The Contract will be signed directly between the Seller and Buyer.
            h3 Our target markets:
            p Africa, European Union, Middle East and Asia.
            h3 Our mission:
            p To give everyone access to high quality and natural food via advanced supply chain management system that helps all players to succeed.
            h3 Our values:
            p Wide range product offer, individual approach, delivery in time.
            h3 Our goal:
            p Long term strategic cooperation which is built on trust, reliability, honesty and responsibility for mutual benefit. Our company is your genuine and reliable partner who can answer with a modern solutions to all of your challenges.