.page_content
    .container
        h1.page_title.c_title Requisites

        .c_row
            .col_left
                .requisites
                    p VIGIL<br> 18 D2, block A, Cagdas Str., Darussafaka, Sariyer, Istanbul, 34457 Turkey
                    p <span>Reg. number:</span> 41522150
                    p <span>Beneficiary’s Bank:</span> JSC CB “PRIVATBANK”
                    p <span>Bank’s address:</span> 1D Hrushevskoho Str., 01001, Kyiv, Ukraine
                    p <span>SWIFT code:</span> PBANUA2X<br> IBAN (USD): UA11 3218 4200 00026 0060 5300 0477
                    p <span>Correspondent Bank:</span> JP MORGAN CHASE BANK, NEW YORK, USA
                    p <span>Correspondent Bank SWIFT Code:</span> CHASUS33
                    p <span>Correspondent Account:</span> 001-1-000080
                    p <span>IBAN (EUR):</span> UA94 3218 4200 00026 0060 5304 1760
                    p <span>Correspondent Bank:</span> J.P. MORGAN AG, FRANKFURT AM MAIN, GERMANY
                    p <span>Correspondent Bank SWIFT Code:</span> CHASDEFX
                    p <span>Correspondent Account:</span> 6231605145

            .col_right
                .map
                    img(src=dir+"map.png")




        .c_row2
            .c_title Business hours
            .row
                .col
                    ul
                        li <span class="gradient">Mon-Fri:</span> 8:30-18:00 (UTC +3:00)
                        li <span class="gradient">Sat-Sun:</span> days off
                .col
                    ul
                        li <span class="gradient">Phone:</span> +90 530 230 41 22
                        li <span class="gradient">E-mail:</span> info@vigiltrading.com
                .col
                    ul
                        li <span class="gradient">Address:</span> 18 D2, block A, Cagdas Str., Darussafaka, Sariyer, Istanbul, 34457 Turkey


        .c_form
            .c_title APPLICATION

            form
                .form_row
                    .field
                        input.form_control(type="text" placeholder="Your name")
                    .field
                        input.form_control(type="text" placeholder="E-mail")
                    .field
                        input.form_control(type="text" placeholder="Company name")
                    .field
                        input.form_control(type="text" placeholder="Phone number")
                    .field
                        textarea.form_control(placeholder="Message")
                    .field

                    .field.w_100
                        button.btn(type="submit") Submit application